<app-carousel />
<div id="home-sec2" class="d-flex justify-content-center align-items-center">
  <h1>{{ data.welcome.title }}</h1>
</div>
<div id="intro" class="sec text-center d-flex justify-content-center align-items-center">
  <h5>{{ data.welcome.introduction }}</h5>
</div>
<div id="geography" class="sec  d-flex justify-content-center  align-items-center flex-column text-center">
  <h3>Geography and Climate</h3>
  <h5>{{ data.explore.geography_and_climate.description }}</h5>
</div>
<div id="culture" class="sec d-flex justify-content-center  align-items-center flex-column text-center">
  <h3>Culture and Heritage</h3>
  <h5>{{ data.explore.culture_and_heritage.description }}</h5>
</div>
<div id="economy" class="sec d-flex justify-content-center  align-items-center flex-column text-center">
  <h3>Economy and Development</h3>
  <h5>{{ data.explore.economy_and_development.description }}</h5>
</div>
<div id="cuisine" class="sec d-flex justify-content-center align-items-center flex-column text-center">
  <h3>Cuisine</h3>
  <h5>{{ data.explore.cuisine.description }}</h5>
</div>
