#home-sec2{
    height: 80vh;
}
.sec{
    min-height: 80vh;
    h5{
        width: 80%;
    }
}
#intro{
    background-image: url('https://img.onmanorama.com/content/dam/mm/en/travel/kerala/images/2022/9/7/road-trip3.jpg');
    color: white;
    background-attachment: fixed;
    background-size: cover;
}
#culture{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh1gcPqj6cHpygAEFuWepqF6i6_7z8yjeH0A&s');
    color: white;
    background-attachment: fixed;
    background-size: cover;
}
#geography{
    background-image: url('https://www.keralatourism.org/responsible-tourism/packages/uploads/at-top-kolukkumalai.jpg');
    color: white;
    background-attachment: fixed;
    background-size: cover;
}
#economy{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfxOwhBy8i0zQpG2b-D-f-NCygYFHFe_80xA&s');
    color: white;
    background-attachment: fixed;
    background-size: cover;
}
#cuisine{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjrfAKFrueoMNPNv8O0hKABh2NuRkOljl03A&s');
    color: white;
    background-attachment: fixed;
    background-size: cover;
}