<section>
  <div class="signin">
    <div class="content">
      <h2>Sign Up</h2>
      <form (ngSubmit)="onSubmit(sinupForm)" #sinupForm="ngForm">
        <div class="form">
          <div class="inputBox">
            <input type="text" required name="username" ngModel />
            <i>Username</i>
          </div>
          <div class="inputBox">
            <input type="email" required name="email" ngModel /> <i>Email</i>
          </div>

          <div class="inputBox">
            <input type="password" required name="password" ngModel />
            <i>Password</i>
          </div>
          <div class="inputBox">
            <input type="password" required name="conform-pass" ngModel />
            <i>Conform Password</i>
          </div>
          <div class="inputBox">
            <input type="text" required name="phone" ngModel />
            <i>Phone Number</i>
          </div>
          <div class="inputBox">
            <input type="date" required name="dob" ngModel />
          </div>

          <div class="links">
            <a >Already Registered?</a> <a (click)="addNewItem()">Login</a>
          </div>
          <div class="inputBox">
            <input type="submit" value="Sign Up" />
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- partial -->
